<div class="container">
  <div id="header">
    <button (click)="goToOrders()" >Volver</button>
    <h2>Órdenes en cola</h2>
  </div>

  <div class="order-pool">

    <div *ngFor="let order of orders" class="food-order">
      <h3>Orden No.{{order.Id}}</h3>
      Platillos ordenados: {{order.platos}}<br />
      Hora de pedido: {{order.horaDePedido}}<br />
      Tiempo de preparación: {{order.tiempoPreparacion}}<br />
      Monto: {{order.monto}}<br />
      <button (click)="selectOrder(order.Id)">Seleccionar</button>

    </div>

  </div>
</div>

