<div class="main-body">
  <div class="header">
    <h1>Bienvenido {{this.usermail}}</h1>
  </div>
  <div class="menu">Se encuentra en la vista de Administrador</div>
  <div class="menu">A continuación se muestra la lista de pedidos activos</div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Chef asignado</th>
        <th>Platos</th>
        <!-- Add more table headings as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of activeOrders">
        <td>{{ order.Id }}</td>
        <td>{{ order.cliente }}</td>
        <td>{{ order.chef }}</td>
        <td>{{ order.platos }}</td>
        <!-- Display more order details as needed -->
      </tr>
    </tbody>
  </table>

  <div class="container-btn">
    <button class="menu-btn">Gestión de Platos</button>
    <button class="menu-btn">Gestión de Menú</button>
    <button class="menu-btn">Vista de Reportes</button>
  </div>
</div>

