.main-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
  }
  ion-header {
    --ion-background-color: #140E39; /* Color de fondo personalizado */
  }
.plato{
  position: relative;
  height: auto;
  width: 90vw;
  background-color: #AFD4F8;

  border-radius: 1vb;
  background-image: url("../../../assets/images/comida.jpg");
  
}
.row{
  display: flex;
  width: 100%;
}


.textoplato{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 500;
  font-size: 3vb;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.textodes{
  color:black;
  margin-left: 5vw;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.texto{
  color:black;
  margin-left: 2vw;
  font-weight: 400;
  //font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.negrita{
  font-weight: 800;
  font-style: italic;
  font-size: 3vb;
  font-family: 'Times New Roman', Times, serif;
  height: 2vb;
  margin: 0;
}

.slides{
  padding-left: 5vw;

}


.button-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boton{
  --background: #140E39;
  width: 88vw;
}

.rectangle {
  background-color: #140E39;
  height: 5vh; 
  width: 100%;
  position: absolute;
  bottom: 0; 
  left: 0; 
}
