.main-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .plato{
    height: auto;
    width: 50vw;
    background-color: darkblue;
  }
  .row{
    display: flex;
    width: 100%;
  }
  