<div class="main-container">
  <header>
    <button (click)="goBack()">Go Back</button>
    <p>Registrate</p>
  </header>
  <p>Ingresa los siguientes datos</p>
  <p>Información personal</p>
  <ul>
    <input placeholder="Número de Cédula">
    <input placeholder="Nombre">
    <input placeholder="Apellidos">
    <input placeholder="Fecha de nacimiento">
  </ul>
  <p>Dirección</p>
  <ul>
    <input placeholder="Provincia">
    <input placeholder="Cantón">
    <input placeholder="Distrito">
  </ul>
  <p>Teléfonos</p>
  <ul>
    <input placeholder="Telefono-1">
    <input placeholder="Telefono-2">
  </ul>
  <button (click)="moveToMore()">Continuar</button>
</div>
