<h1 id="tableLabel">ResTEC</h1>

<p>Bienvenido a ResTEC, por favor inicie sesión</p>

<form (ngSubmit)="login()" #loginForm="ngForm">
  <div>
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)] ="email" required>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password"  [(ngModel)] ="password" required>
  </div>
  <button type="button" (click)="login()">Login</button>
</form>

<h3>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

</h3>
