<div id="top">
  <button class="back-btn" (click)="goHomepage()">Back</button>
</div>

<div class="container">

  <h2>Lista de Platillos</h2>
  <div class="dish-list">
    <ul id="options-container">
      <li *ngFor="let dish of dishList">
        <input type="checkbox" [(ngModel)]="dish.active">
        <span>{{dish.name}}</span>
        <button (click)="deleteDish(dish.id)">X</button>
      </li>
    </ul>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Calorías</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dish of activeDishes">
        <td>{{ dish.Id }}</td>
        <td>{{ dish.nombre }}</td>
        <td>{{ dish.tipo }}</td>
        <td>{{ dish.calorias }}</td>
        <td>{{ dish.precio }}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <button (click)="toggleForm()" class="dish-btn">Crear plato</button>
    <button (click) ="toggleForm2()" class=" dish-btn">Modificar plato</button>
    <button class="dish-btn">Eliminar plato</button>
  </div>
  <div *ngIf="showForm">
    <form (ngSubmit)="submitForm()" #form="ngForm">
      <!-- Form fields go here -->
      <label>Nombre </label>
      <input type="text" name="Nombre" [(ngModel)]="dishName" required placeholder="Nombre">
      <label>Tipo </label>
      <input type="text" name="Tipo" [(ngModel)]="dishType" required placeholder="Tipo">
      <label>Calorías </label>
      <input type="number" name="Calorías" [(ngModel)]="dishCalories" required placeholder="Calorías">
      <label>Precio </label>
      <input type="number" name="Precio" [(ngModel)]="dishPrice" required placeholder="Precio">
      <!-- Add more form fields as needed -->

      <button (click)="submitForm()" type="submit"> Crear</button>
    </form>
  </div>
  <div *ngIf="showForm2">
    <form (ngSubmit)="submitForm2()" #form="ngForm">
      <!-- Form fields go here -->
      <label>ID </label>
      <select name="ID" [(ngModel)]="formData.selectedOptionId">
        <option *ngFor="let option of defaultOptions" [value]="option.id">{{ option.name }}</option>
      </select>
      <label>Tipo </label>
      <input type="text" name="Tipo" [(ngModel)]="dishType" required placeholder="Tipo">
      <label>Calorías </label>
      <input type="number" name="Calorías" [(ngModel)]="dishCalories" required placeholder="Calorías">
      <label>Precio </label>
      <input type="number" name="Precio" [(ngModel)]="dishPrice" required placeholder="Precio">
      <!-- Add more form fields as needed -->

      <button (click)="submitForm()" type="submit"> Crear</button>
    </form>
  </div>

</div>
