<div id="top">
  <button class="back-btn" (click)="goHomepage()">Back</button>
</div>

<div class="container">
  <div>
    <input [(ngModel)]="inputBoxValue" type="text" placeholder="Type your input" />
    <button (click)="newDishT()">Insert Dish</button>
  </div>

  <h2>Dish list</h2>
  <div class="dish-list">
    <ul id="options-container">
      <li *ngFor="let dish of dishList">
        {{dish.name}}
        <button (click)="deleteDish(dish.id)">X</button>
      </li>
    </ul>
  </div>

  <div>
    <button class="dish-btn">Add Dish</button>
  </div>

</div>
