<div id="top">
  <button class="queue-btn" (click)="goToQueue()">Queue</button>
</div>

<div class="container">

  <h2>Ordenes en curso</h2>
  <span>{{this.usermail}}</span>

  <div *ngFor="let order of activeOrders; let i = index" class="order-list">
    <h3>Orden No.{{order.Id}}</h3>

    <div>

      No.Cliente: {{order.cliente}}<br />
      Platos de la orden: {{order.platos}}
      <div [class.active]="isActive" (click)="faqInteract()" class="dishDesc">
        <div class="expand-tag">Ver más</div>
        <div class="desc">{{order.platos}}</div>
      </div>
      Tiempo estimado de entrega: {{order.tiempoPreparacion}}<br />
      Tiempo restante: <app-timer [minutes]="order.tiempoPreparacion" [parent]="this" [order]="order"></app-timer>

    </div>

    <button>Terminar Orden</button>
  </div>

  <div>
    <button class="new-order-btn" (click)="goToQueue()">Take Order</button>
  </div>

</div>
