.container {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  height: 80vh; /* Full viewport height */
}

.queue-btn {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-order-btn {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul li {
  list-style: none;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
}

#top {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: auto;
}

.dishDesc {
  max-width: 400px;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
  cursor: pointer;
  display:inline;
}

.expand-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.dishDesc.active .desc {
  max-height: 200px;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}


.faq.active .answer{
    max-height: 200px;
}
