<ion-header>
  <ion-toolbar>
    <div class="row">
      <ion-button class="boton-redondo" (click)="goBack()">&#8592;</ion-button>
      <p style="margin-left: 11vw; color: white;">Configuración de cuenta</p>

    </div>
  </ion-toolbar>
</ion-header>


<ion-content >
  <header style="display: flex; justify-content: center; margin-top: 2vh;">
    Cambio de contraseña
  </header>
  <ul>
    <ion-input placeholder="Escriba su contraseña anterior"></ion-input>
    <ion-input placeholder="Escriba su nueva contraseña"></ion-input>
  </ul>
  <header style="display: flex; justify-content: center;">
    Eliminar cuenta
  </header>
  <div class="button-centered">
    <ion-button class="boton2" (click)="deleteAccount()">Eliminar</ion-button>
  </div>
  <div class="button-centered">
    <ion-button class="boton2" (click)="movetoAuth()">Cerrar Sesión</ion-button>
  </div>
</ion-content>
