<ion-header>
  <ion-toolbar>
    <div class="row">
      <ion-button class="boton-redondo" (click)="goBack()">&#8592;</ion-button>
      <p style="margin-left: 19vw; color: white;">Inicio de sesión</p>

    </div>
  </ion-toolbar>
</ion-header>


<ion-content >
  <header style="display: flex;">
  </header>
  <ul>
    <ion-input [(ngModel)]="correo" placeholder="Escriba su correo electrónico"></ion-input>
    <ion-input [(ngModel)]="contrasena" placeholder="Escriba su contraseña"></ion-input>
  </ul>

  <div class="button-centered">
    <ion-button class="boton2" (click)="goHome()">Continuar &raquo;</ion-button>
  </div>
</ion-content>
