<ion-header>
  <ion-toolbar>
    <div class="row">
      <ion-button class="boton-redondo" (click)="goBack()">&#8592;</ion-button>
      <p style="margin-left: 23vw; color: white;">Regístrate</p>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ul>
    <ion-input placeholder="Correo electrónico" [(ngModel)]="correo"></ion-input>
    <ion-input placeholder="Contraseña" [(ngModel)]="contrasena"></ion-input >
    <ion-input placeholder="Confirma tu contraseña" [(ngModel)]="ccontrasena" ></ion-input>
  </ul>
  <div class="button-centered">
    <ion-button class = "boton2" (click)="goHome()">Continuar &raquo;</ion-button>
  </div>
</ion-content>
