.row{
  display: flex;
  margin-left: 3vw;

}
ion-header {
  --ion-background-color: #140E39; /* Color de fondo personalizado */
}
.boton{
  --background: #4665BF;
  width: 40%;
}
.boton2{
  --background: #140E39;
  border: 1px solid white;
  width: 40%;
}


.button-centered{
  background-color: #140E39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boton-redondo {
  --background: #140E39;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 2.5vb;
}


