<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="row">
      <ion-button class="boton-redondo" (click)="goBack()">&#8592;</ion-button>
      <p style="margin-left: 19vw; color: white;">Pedido realizado</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="textoFactura">
    <p style="font-size: 3vb; font-weight: bolder;">FACTURA</p>
  </div>

  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col1" style="font-weight: bolder;">N° de factura:</div>
      <div class="grid-col2">NumeroRandom</div>
    </div>
    <div class="grid-row">
      <div class="grid-col1" style="font-weight: bolder;">Cliente:</div>
      <div class="grid-col2">NombreCliente</div>
    </div>
    <div class="grid-row">
      <div class="grid-col1" style="font-weight: bolder;">Fecha de compra:</div>
      <div class="grid-col2">Fecha</div>
    </div>
    <div class="grid-row">
      <div class="grid-col1" style="font-weight: bolder;">Hora de compra:</div>
      <div class="grid-col2">Hora</div>
    </div>
  </div>

  <ul>
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col1" style="font-weight: bolder; font-size: 2.5vb;">Plato pedido</div>
        <div class="grid-col2" style="font-weight: bolder; font-size: 2.5vb;">Precio</div>
      </div>
      <div class="pedido" *ngFor="let pedido of pedidos">


          <div class="grid-row">
            <div class="grid-col1">{{pedido.nombre}}</div>
            <div class="grid-col2">₡{{pedido.precio}}</div>
          </div>
      </div>
    </div>
  </ul>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col1" style="font-weight: bolder; font-size: 2.5vb;">Monto total:</div>
      <div class="grid-col2" style="font-size: 2.5vb;">{{montoTotal}}</div>
    </div>

  </div>

  <div class="textoFactura">
    <p style="font-size: 3vb; font-weight: bolder;">ESTADO DEL PEDIDO</p>
  </div>

</ion-content>


